<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Gus. Girders. What more could you want?</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp" ng-class="{home: $state.includes('home')}">
    <gg-header></gg-header>
    <div id="main" class='container-fluid' ui-view></div>
</body>
</html>
