@import url(https://fonts.googleapis.com/css?family=Press+Start+2P|Maven+Pro:400,900,700,500);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background-color: #54A4FF; }

* {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

a {
  color: black;
  pointer: cursor; }
  a:hover, a:visited {
    color: black;
    text-decoration: none; }

#logo {
  height: 85px;
  padding-right: 15px; }

#company-title {
  color: #414141;
  font-size: 24px;
  font-family: 'Press Start 2P', cursive; }

#login {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

#logout {
  color: #905050;
  cursor: pointer; }

header {
  padding: 10px 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header div:last-child {
    margin-left: auto; }
  header p {
    float: right; }
  header nav ul {
    list-style: none;
    padding: 0; }
    header nav ul li {
      background-color: #E1A51D;
      border: 2px solid black;
      display: inline-block;
      padding: 10px 40px; }
      header nav ul li:first-child {
        border-left: 4px solid black; }
      header nav ul li:last-child {
        border-right: 4px solid black; }
      header nav ul li:hover {
        background-color: #e8b749; }
      header nav ul li a {
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 1px; }
