<div>
	<form>
		<label for='text' name='level-title'>Level Title</label>
		<input type='text' class='level-title' name='level-title' ng-model='levelTitle' />
	</form>
	<header id='tool-bar-container'>
	<nav>
	<ul id='tool-bar'>
		<li ng-repeat='tool in toolArr'>
      <a ng-click='changeActiveTool(tool)'><img style='height: 32px' ng-src='{{tool.img}}' /></a>
    </li>
	</ul>
	</nav>
	</header>

  	<level-creator style='cursor: url("{{activeToolImg}}") 16 16, auto'  >
      <img src="/images/loading_screen.png"></img>
  	</level-creator>
  <button ng-click='requestParsedTileMap()'>GET TILE MAP</button>
  <pre>{{ map }}</pre>
</div>
