<div>
	<form id='create-level-form'>
		<label for='text' name='level-title'>Level Title</label>
		<input type='text' class='level-title' name='level-title' ng-model='levelTitle' />
		<label for='number' name='girder-count'>Number of Girders Available to Gus</label>
		<input type='number' class='girder-count' name='girder-count' ng-model='girdersAllowed' ng-init=10 />
		<label for='color' name='sky-color'>Pick Sky Color</label>
		<input type='color' class='sky-color' name='sky-color' ng-model='skyColor' value='#ebebeb'/>
	</form>
	<header id='tool-bar-container'>
	<nav>
	<ul id='tool-bar'>
		<li ng-repeat='tool in toolArr'>
      <a ng-click='changeActiveTool(tool)'><img style='height: 32px' ng-src='{{tool.img}}' /></a>
    </li>
	</ul>
	</nav>
	</header>

	<div ng-if=!testing>
		<level-creator ng-style='{cursor: "url("+activeToolImg+") 16 16, auto"}'  >
		</level-creator>
	</div>
	<div ng-if=testing>
		<game-view></game-view>
	</div>
  <br>
  <button class='btn' ng-click='testTesting()'>Show Game</button>
	<button ng-click='requestParsedTileMap()'>GET TILE MAP</button>
	<div ng-if='beaten'>
		<button ng-click='submitBeatenLevel(beatenLevel, levelTitle, girdersAllowed, skyColor)'>Submit</button>
	</div>
</div>
