<div>
	<form>
		<label for='text' name='level-title'>Level Title</label>
		<input type='text' class='level-title' name='level-title' ng-model='levelTitle' />
	</form>
	<header id='tool-bar-container'>
	<nav>
	<ul id='tool-bar'>
		<li ng-click='changeActiveTool(tool.tile)' ng-repeat='tool in toolArr'>
      <img style='width: 32px' ng-src='{{tool.img}}' />
    </li>
	</ul>
	</nav>
	</header>

	<level-creator>
	</level-creator>

  <button ng-click='requestParsedTileMap()'>GET TILE MAP</button>
</div>
