<div id="levels" class="pagewrapper">
    <searchbar sorts="sorts" search-types="searchTypes" params="params"></searchbar>
    <div class="row levels-list">
        <level-thumbnail ng-repeat="level in levels" level="level" show-creator="true"></level-thumbnail>
    </div>
    <nav>
      <ul class="pagination">
        <li ng-class="{disabled: currentPage === 1}">
            <a href ng-click="toPage(currentPage-1)">« Prev</a>
        </li>
        <li ng-repeat="page in pages" ng-class="{active: page === currentPage}">
            <a href ng-class="{disabled: page === currentPage}" ng-click="toPage(page)">{{ page }}</a>
        </li>
        <li ng-class="{disabled: currentPage === pages.length}">
          <a href ng-click="toPage(currentPage+1)">Next »</a>
        </li>
      </ul>
    </nav>
</div>
